.side_bar {
  padding: 3rem 0;
  width: 270px;
  min-height: 100vh;
  background-color: white;

  // &_list{
  //   display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-start;
  // }

  .nav_title {
    font-size: 1.4rem;
    cursor: pointer;
  }

  .nav_children {
    display: inline-flex;
    align-items: center;
    padding: 1rem 3rem;
    width: 100%;
  }
}


// 